.FullMenu {
  padding-top: 50px !important;
  padding-bottom: 50px !important;

  .FullMenu__catCont {
    display: block;
    padding-bottom: 50px !important;
    min-height: 60vh;
  }

  .FullMenu__parentCatName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    padding-bottom: 30px !important;
  }

  .FullMenu__img {
    img {
      width: 100%;
      border: 1px solid #707070;
      // padding-top: 30px;
      // border: 1px solid #707070;
    }
  }

  .FullMenu__itemCont {
    position: relative;
    z-index: 11000;
  }

  .FullMenu__items {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    .FullMenu__item {
      padding-top: 12px !important;
      padding-bottom: 10px !important;
      border-bottom: 1px solid #707070;

      margin-left: 80px;
      // text-transform: uppercase;
    }
  }

  .FullMenu__itemTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 20px !important;
    padding-left: 90px;
  }

  .FullMenu__ingredients {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #9d9d9d;

    margin-left: 100px;
    padding-top: 2px !important;
  }

  .FullMenu__clickable {
    cursor: pointer;

    &:hover {
      color: #ff2c33;
    }
  }
}

.modal {
  z-index: 30000;
}

#modalCont {
  margin-top: 50px;
  max-width: 650px;
  height: 100%;

  .modal-body {
    padding: 0;
    border: none;
    background-color: #303030 !important;
    border: 1px solid #454545;

    -webkit-box-shadow: 0px 0px 5px 0px #242424;
    -moz-box-shadow: 0px 0px 5px 0px#242424;
    box-shadow: 0px 0px 5px 0px #242424;
  }

  .modal-header {
    background-color: #303030;
    border: 1px solid #454545;
    border-bottom: none;
    position: absolute;
    width: 100%;

    .close {
      z-index: 11000;
    }

    button:active, button:focus {
      outline: none;
    }

    span {
      font-size: 40px;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 768px) {
  .FullMenu__item {
    margin-left: 0px !important;
  }

  .FullMenu__img {
    img {
      padding-bottom: 30px;
    }
  }

  .FullMenu__ingredients {
    margin-left: 10px !important;
  }

  .FullMenu__itemTitle {
    padding-top: 20px;
    padding-left: 0 !important;
    text-align: center;
  }

  #modalCont {
    margin: auto;
    padding-top: 30%;
    max-width: 90%;
  }
}
